// src/components/Footer/Footer.scss

$matisse-colors: (
  blue: #0077b6,
  red: #ef233c,
  yellow: #fcbf49,
  green: #2a9d8f,
  white: #ffffff,
  light-blue: #90e0ef,
  pink: #ffccd5
);

.matisse-footer {
  position: relative;
  padding: 2rem 2rem;
  color: map-get($matisse-colors, white);
  text-align: center;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    map-get($matisse-colors, blue),
    map-get($matisse-colors, light-blue)
  );
  max-width:1456px;

  .footer-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    align-items: center;
    justify-content: center;

    .shape {
      position: absolute;
      border-radius: 50%;
      opacity: 0.7;

      &.shape1 {
        width: 200px;
        height: 200px;
        background: map-get($matisse-colors, yellow);
        top: -50px;
        left: -50px;
      }

      &.shape2 {
        width: 150px;
        height: 150px;
        background: map-get($matisse-colors, pink);
        top: 20%;
        left: 70%;
      }

      &.shape3 {
        width: 250px;
        height: 250px;
        background: map-get($matisse-colors, green);
        bottom: -50px;
        right: 100px;
      }

      &.shape4 {
        width: 100px;
        height: 100px;
        background: map-get($matisse-colors, red);
        bottom: 20%;
        right: 20%;
      }
    }
  }

  .footer-content {
    position: relative;
    z-index: 1;

    .footer-logo {
      font-size: 3rem;
      font-family: 'Brush Script MT', cursive;
      margin-bottom: 1rem;
      color: map-get($matisse-colors, yellow);
      text-shadow: 2px 2px map-get($matisse-colors, red);
    }

    .footer-nav {
      display: flex;
      justify-content: center;
      position: relative;
      gap: .5rem;
      margin-bottom: 1rem;
      align-items: center;
      padding-right: -60px;

      a {
        text-decoration: none;
        color: map-get($matisse-colors, white);
        font-weight: bold;
        padding: 0.5rem 1rem;
        background: map-get($matisse-colors, red);
        border-radius: 15px;
        transition: background 0.3s ease;

        &:hover {
          background: map-get($matisse-colors, green);
        }
      }
    }

    .footer-info {
      font-size: 0.875rem;
      color: map-get($matisse-colors, white);
    }
  }
}
