$primary-color: rgba(255, 99, 71, 0.85); // Tomato with transparency
$secondary-color: rgba(72, 209, 204, 0.85); // MediumTurquoise with transparency
$accent-color: rgba(255, 215, 0, 0.85); // Gold with transparency
$text-color: #ffffff; // White

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nav-item {
  padding: 15px 20px;
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); // Transparent white for hover effect
    backdrop-filter: blur(14px); // Apply blur effect for glassmorphism
  }
}

.navbar {
  @include flex-center;
  background-color: $primary-color;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); // Apply blur effect for glassmorphism

  .nav-items {
    @include flex-center;
  }
  .matisse-logo {
    width: 140px;
    height: 70px;
    object-fit: contain;
  }

  .nav-item {
    @include nav-item;

    &.logo {
      font-size: 1.5em;
      color: $secondary-color;
      background: linear-gradient(135deg, $primary-color, $secondary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.active {
      background-color: $secondary-color;
      color: $text-color;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    .nav-items {
      flex-direction: column;
      width: 100%;
    }

    .nav-item {
      width: 100%;
      text-align: center;
      border-top: 1px solid $secondary-color;
    }
  }
}
